header {
	position: absolute;
	top:12px;
	right:30px;
}

header a:link, a:visited, a:active {
    color: #2a2a2a;
    font-family: arial, sans-serif;
    font-size:12px;
    text-decoration:none;
	margin-right:5px;
	margin-left:5px;
	position:relative;
	top:-10px;
}

header a:hover {
	text-decoration:underline;
}

#products {
	margin-right:8px;
	margin-left:8px;
}

#bell {
	margin-right:10px;
	margin-left:8px;
}

#share {
	margin-right:10px;
	margin-left:10px;
}

#lara {
	border-radius:50%;
}

div {
	display:block;
	margin: auto;
	text-align:center;
	padding-top: 13%;;
}

div img {
	width: 270px;
	height: 95px;
	margin:10px;
}

.search {
	width: 560px;
	height: 28px;
	border-top: 1px solid #bdbdbd;
	border-bottom: 1px solid #d3d3d3;
	border-right: 1px solid #d3d3d3;
	border-left: 1px solid #d3d3d3;
	font: 16px arial, sans-serif;
}

.button {
	border: 1px solid #d3d3d3;
	background: #f3f3f3;
	color:#696969;
	margin-left:4px;
	margin-right:4px;
	margin-top: 15px;
	font-family: arial, sans-serif;
	font-size: 10px;
	font-weight: bold;
	padding: 8px;
	border-radius:2px;
}

.button:hover {
	color: #2a2a2a;
	border: 1px solid #bdbdbd;
}

.search:hover {
	border:1px solid #aaaaaa;
}

footer {
	position: absolute;
	bottom:0px;
	left:0px;
	right:0px;
	background:#f3f3f3;
	padding-top:22px;
	border-top: 1px solid #e9e9e9;
}

footer a:link, a:visited, a:active {
	color: #696969;
	font-family: arial, sans-serif;
	font-size:12px;
	text-decoration:none;
    }
    
footer a:hover {
	text-decoration:underline;
}
	
.leftlinks {
	position: relative;
	bottom:12px;
	left:18px;
	padding-right:15px;
	padding-left:15px;
}

.rightlinks {
	position: relative;
	bottom:9px;
	float:right;
	right:18px;
	padding-right:15px;
	padding-left:15px;
}
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	
	